/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .container {
        max-width: 1140px;
    }
    .feedback_blk {
        width: 90%;
        margin: auto;
    }

}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 900px;
    }
    .logo-area a img {
        max-width: 210px;
    }
    
    .location_img i.card_bg {
        max-width: 500px;
    }
    
    .location_title.sec_title {
        width: 360px;
    }
    
    .feedback_img i.card_bg {
        max-width: 352px;
    }
    
    .feedback_title span {
        font-size: 22px;
    }
    
    .feedback_title h1 {
        font-size: 35px;
    }
    
    .feedback_title p {
        font-size: 16px;
        line-height: 18px;
        max-width: 414px;
    }
    
    .feedback_title {
        margin-bottom: 0;
    }
    
    .feedback_title .star_icon li {
        font-size: 20px;
    }
    
    .feedback_title p.feed_date {
        font-size: 16px;
    }
    
    .feedback_slider .owl-nav {
        bottom: 80px;
    }
    
    .location-Area {
        margin-bottom: 100px;
    }
    
    section {
        margin-bottom: 70px;
    }
    .hero_title h1 {
        font-size: 40px;
    }
    
    .hero_title p {
        font-size: 20px;
    }
    
    .hero_title a {
        font-size: 20px;
    }
    
    .header-area .row {padding: 20px 40px;}
    
    .header-area .container {padding: 0 30px;}
    
    .menu-area nav ul li a {
        margin-left: 20px;
    }
    .sec_title h1 {
        font-size: 30px;
    }
    
    .sec_title p {
        font-size: 16px;
    }
    
    a.thm_btn {
        font-size: 16px;
    }
    
    section.product-Area .my-5 {
        margin: 20px 0 !important;
    }
    
    i.card_bg {
        max-width: 350px;
    }
    
    .card_bg img.team_crop {
        width: 300px;
        height: 249px;
        left: -50px;
    }
    
    .team_title a {
        font-size: 18px;
    }
    
    .video_content a img {max-width: 70px;}

    .C_station_title {
        padding: 30px 30px;
        padding-right: 0;
    }
    
    .sellar_blk_info h3 {
        font-size: 18px;
    }
    
    .sellar_blk_info p {
        font-size: 14px;
        max-width: 200px;
    }
    
    .sellar_blk_info i {
        width: 200px;
        height: 200px;
        margin-right: 24px;
    }
    

    
    li.sel_info h3 p img {
        width: 25px;
        height: 25px;
    }
    
    .sellar_blk  h3 {
        font-size: 24px;
    }

.sellar_blk > h3 {
    margin-bottom: 20px;
}
.blog_blk {
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 50px;
}

.blog_blk i {
    margin: 0 0 30px;
}

}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .logo-area a img {
        max-width: 210px;
    }
    
    .location_img i.card_bg {
        max-width: 500px;
        margin: auto;
    }
    
    .location_title.sec_title {
        width: 80%;
        margin: 50px  auto 0;
        text-align: center;
    }

.location_title a {
    margin: auto;
}

.location_img {
    margin: auto;
}
    
    .feedback_img i.card_bg {
        max-width: 352px;
    }
    
    .feedback_title span {
        font-size: 22px;
    }
    
    .feedback_title h1 {
        font-size: 35px;
    }
    
    .feedback_title p {
        font-size: 16px;
        line-height: 18px;
        max-width: 414px;
    }
    
    .feedback_title {
        margin-bottom: 50px;
    }
    
    .feedback_title .star_icon li {
        font-size: 20px;
    }
    
    .feedback_title p.feed_date {
        font-size: 16px;
    }
    
    .feedback_slider .owl-nav {
        bottom: 0;
    }
    
    .location-Area {
        margin-bottom: 30px;
    }

.location-Area .row,
.feature-Area .row, 
.team-Area .row,
.C_station-Area .row{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
    
    section {
        margin-bottom: 70px;
    }

section.contact-Area {
    margin-bottom: 100px;
}

section.feedback-Area {
    margin-bottom: 45px;
}

.hero-Area .container {
    justify-content: center;
}

.container {
    padding: 0 50px;
}
    .hero_title h1 {
        font-size: 30px;
    }

.hero_title {
    max-width: 556px;
    margin: auto;
}
    
    .hero_title p {
        font-size: 18px;
    }
    
    .hero_title a {
        font-size: 20px;
        width: 160px;
        height: 48px;
    }

    
    .center_row {
        margin: auto;
    }
    
    .svc_img {
        text-align: center;
    }
    .header-area .row {padding: 15px 40px;}
    
    .header-area .container {padding: 0 30px;}

.header-area {
    padding: 20px;
}
    
    .menu-area nav ul li a {
        margin-left: 20px;
    }
    .sec_title h1 {
        font-size: 30px;
    }
    
    .sec_title p {
        font-size: 16px;
    }
    
    a.thm_btn {
        font-size: 16px;
    }
    
    section.product-Area .my-5 {
        margin: 5px 0 !important;
    }
    
    i.card_bg {
        max-width: 350px;
        margin: 0 auto 60px;
        text-align: center;
    }

.feature_img {
    text-align: center;
}

.team_img .card_bg {
    max-width: 100%;
    margin: auto;
}

.team_img {
    max-width: 500px;
    margin: 50px auto 0;
    padding-bottom: 130px;
}
    
    .card_bg img.team_crop {
        width: 300px;
        height: 249px;
        left: -50px;
    }
    
    .team_title a {
        font-size: 18px;
    }
    
    .video_content a img {max-width: 70px;}
    
    .C_station_title:before {
    width: 100%;
}
    .C_station_title {
        padding: 40px;
    }
    
    .sellar_blk_info h3 {
        font-size: 18px;
    }
    
    .sellar_blk_info p {
        font-size: 14px;
        max-width: 200px;
    }
    
    .sellar_blk_info i {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .sellar_blk_info {
    flex-direction: column;
    }
    
    li.sel_info h3 p img {
        width: 25px;
        height: 25px;
    }
    
    .sellar_blk  h3 {
        font-size: 22px;
    }

.sel_info {
    flex-direction: column;
}

.sel_info h3:first-child {
    margin-bottom: 10px;
}

.sellar_blk > h3 {
    margin-bottom: 20px;
    text-align: center;
}
.blog_blk {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 40px;
}

.blog_blk i {
    margin: 0 0 30px;
}
.C_station_img {
    text-align: center;
}
.pd_service-Area .pd_btm {
    margin-top: 40px;
}
.blog_title,.sellar_title,.sec_title.svc_title,.feature_title.sec_title {
    max-width: 450px;
    margin: auto;
    text-align: center;
}
.invest_img {
    text-align: center;
}

.contact_form {
    padding: 0 50px;
}

.contact_form input {
    height: 54px;
    margin-bottom: 20px;
}

footer.footer_area.text-center {
    padding: 30px;
}
.footer_left {
    margin-top: 0;
}

footer.footer_area {
    padding-top: 75px;
}
}

 
/* small screen :320px. */
@media (max-width: 767px) {
    .logo-area a img {
        max-width: 150px;
    }
    
    .location_img i.card_bg {
        max-width: max-content;
        margin: auto;
    }
    
    .location_title.sec_title {
        width: 80%;
        margin: 30px  auto 20px;
        text-align: center;
    }

.location_title a {
    margin: auto;
}

.location_img {
    margin: auto;
    width: 100%;
    width: max-content;
}
    
    .feedback_img i.card_bg {
        max-width: 352px;
    }
    
    .feedback_title span {
        font-size: 18px;
    }
    
    .feedback_title h1 {
        font-size: 30px;
        margin-bottom: 13px;
    }
    
    .feedback_title p {
        font-size: 16px;
        line-height: 18px;
        max-width: 414px;
        margin-bottom: 17px;
    }
    
    .feedback_title {
        margin-bottom: 50px;
        padding-top: 200px;
        margin-top: -200px;
        padding-bottom: 30px;
    }
    
    .feedback_title .star_icon li {
        font-size: 20px;
    }
    
    .feedback_title p.feed_date {
        font-size: 16px;
    }
    
    .feedback_slider .owl-nav {
        bottom: 0;
    }
    
    .location-Area {
        margin-bottom: 30px;
    }

.location-Area .row,
.feature-Area .row, 
.team-Area .row,
.C_station-Area .row{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
    
    section {
        margin-bottom: 40px;
    }

section.product-Area .sec_title h1 {
    margin-bottom: 0;
}

section.contact-Area {
    margin-bottom: 100px;
}

input.input_hf {
    width: 100%;
}

.contact_form input {
    height: 50px;
    margin-bottom: 16px;
}

.contact_form {
    padding: 0 20px;
}

section.feedback-Area {
    margin-bottom: 45px;
}

footer.footer_area p {
    font-size: 16px;
}

.hero-Area .container {
    justify-content: center;
}

.container {
    padding: 0 20px;
}
    .hero_title h1 {
        font-size: 22px;
    }

.hero_title {
    max-width: 556px;
    margin: auto;
}
    
    .hero_title p {
        font-size: 16px;
        line-height: 1.4;
    }
    
    .hero_title a {
        font-size: 20px;
        width: 160px;
        height: 48px;
    }
    .product_blk {
    margin-top: 20px;
    margin-bottom: 20px;
    }

.product_title {
    height: auto;
    padding-bottom: 25px;
    padding-left: 20px;
}

.product_title span {
    margin: 8px 0;
}

.product_title p {
    margin-bottom: 10px;
    height: auto;
}

.product_title h5 {
    margin-bottom: 10px;
}
    
    .center_row {
        margin: auto;
    }
    
    .svc_img {
        text-align: center;
    }
    .header-area .row {padding: 15px 14px;}
    
    .header-area .container {padding: 0 0px;}

.header-area {
    padding: 20px;
}

.hero-Area {
    height: 600px;
}

.hero_clip {
    clip-path: ellipse(105% 63% at 52% 36%);
}
    
    .menu-area nav ul li a {
        margin-left: 20px;
    }
    .sec_title h1 {
        font-size: 24px;
    }

.invest_title {
    padding-left: 0;
}
    
    .sec_title p {
        font-size: 16px;
    }
    
    a.thm_btn {
        font-size: 16px;
    }
    
    section.product-Area .my-5 {
        margin: 5px 0 !important;
    }
    
    i.card_bg {
        max-width: 320px;
        margin: 0 auto 50px;
        text-align: center;
    }

.feature_img {
    text-align: center;
}

.team_img .card_bg {
    max-width: 100%;
    margin: auto;
}

.star_icon li {font-size: 16px;}

.team_img .star_icon {
    right: -17px;
    top: 9px;
    display: none;
}

.star_icon {
    padding: 9px 15px;
    display: none;
}

.team_img {
    max-width: 500px;
    margin: 50px auto 0;
    padding-bottom: 74px;
}
    
    .card_bg img.team_crop {
        width: 100%;
        height: 154px;
        left: -15px;
        bottom: -50px;
        max-width: 187px;
    }
    
    .team_title a {
        font-size: 16px;
    }
    
    .video_content a img {max-width: 70px;}
    
    .C_station_title:before {
    width: 100%;
}
    .C_station_title {
        padding: 25px;
        margin-top: -120px;
        padding-top: 120px;
        padding-bottom: 40px;
        text-align: center;
    }
    
    .sellar_blk_info h3 {
        font-size: 18px;
    }
    
    .sellar_blk_info p {
        font-size: 14px;
        max-width: 200px;
    }
    
    .sellar_blk_info i {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .sellar_blk_info {
    flex-direction: column;
    }

.sellar_blk_info ul {
    width: 280px;
    margin: auto;
    padding-left: 31px;
}
    
    li.sel_info h3 p img {
        width: 25px;
        height: 25px;
    }
    
    .sellar_blk  h3 {
        font-size: 20px;
    }

.sellar_blk > h3 {
    margin-bottom: 20px;
    text-align: center;
}
.blog_blk {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 40px;
}

.blog_blk i {
    margin: 0 0 30px;
}
.C_station_img {
    text-align: center;
}
.pd_service-Area .pd_btm {
    margin-top: 20px;
}
.video_content {
    margin-bottom: 50px;
    margin-top: -15px;
}
.video_content i {
    border-radius: 20px;
}

.video_content a img {
    width: 46px;
}

.video_title h1 {
    margin-bottom: 0;
}

li.sel_info {
    max-width: 100%;
}

.pd_btm {
    margin: 10px 0 30px;
}

.invest_img {
    text-align: center;
    margin-top: 50px;
}
.blog_title,.sellar_title,.sec_title.svc_title,.feature_title.sec_title {
    max-width: 450px;
    margin: auto;
    text-align: center;
}

.sel_info {
    flex-direction: column;
}

.sel_info h3:first-child {
    margin-bottom: 10px;
}
.blog-Area .col-lg-6{
    width: 100%;
}
.blog_blk_title h3 {
    font-size: 24px;
}

.blog-Area {
    margin-bottom: 35px;
    margin-top: 60px;
}
.feedback_blk {
    flex-direction: column-reverse;
}

.feedback_title:after {
    width: 100%;
}


.feedback_title .star_icon {
    display: block;
}

.feedback_title .star_icon li {
    font-size: 17px;
}

footer.footer_area {
    padding: 70px 0 0px;
}
.location_img iframe {
    max-width: 300px;
    height: 277px;
    margin: auto;
}
.footer_left {
    margin: 0 0 30px;
}

.footer_nav h3 {
    font-size: 22px;
    margin-bottom: 13px;
}

.footer_nav {
    margin-top: 30px;
    margin-left: 0;
}

.footer_btm {
    justify-content: center;
    padding: 15px 0 10px;
}

.footer_btm a {
    margin: 0 10px 10px;
    font-size: 16px;
}

.footer_nav ul li a {
    font-size: 16px;
    line-height: 28px;
}
}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.contact_form{
    padding: 0 50px;
}
 
}
